---
permalink: /tags/
layout: layouts/home.njk
title: "Innovation Insights | Tag List"
---
<div class="container page-section content-width">
  <h1 class="display-6">Tags</h1>

  {% for tag in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
  {% endfor %}
</div>